<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-9">
                <div *ngFor="let event of events">
                    <app-event [value]="event" (deleteEventInstanceEvent)="deleteEvent($event)"></app-event>
                </div>

                <div class="text-center">
                    <a type="button" mdbBtn="mdbBtn" color="info" class="waves-effect mb-4" (click)="frame.show()" mdbWavesEffect="mdbWavesEffect">Add event</a>
                </div>
            </div>

            <div class="col-md-3">
                <h3 class="text-uppercase">Schedule</h3>

                <h6 class="my-3">
                    It's going to be busy that today. You have

                    <b>{{ events.length }} events</b> today.
                </h6>

                <h1 class="my-3">
                    <div class="row">
                        <div class="col-3 text-center">
                            <i class="fa fa-thermometer-half" aria-hidden="true"></i>
                        </div>

                        <div class="col-9">Sunny</div>
                    </div>

                    <div class="row">
                        <div class="col-3 text-center">
                            <i class="fa fa-thermometer-half" aria-hidden="true"></i>
                        </div>

                        <div class="col-3">23°C</div>
                    </div>
                </h1>

                <p>
                    Don't forget your sunglasses. Today will dry and sunny, becoming warm in the afternoon with temperatures of between 20 and 25 degrees.
                </p>
            </div>
        </div>
    </div>

    <!-- Modal -->

    <div mdbModal="mdbModal" #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto">
        <!-- Dialog -->

        <div class="modal-dialog modal-notify modal-info" role="document">
            <!-- Content -->

            <div class="modal-content">
                <!-- Header -->

                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">Add Event</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                        <span
                            aria-hidden="true"
                            class="white-text"
                        >&times;</span>
                    </button>
                </div>

                <!-- Body -->

                <div class="modal-body">
                    <div class="md-form mb-5">
                        <i class="far fa-clock"></i>
                        <input placeholder="Time" id="time" class="form-control" mdbInput="mdbInput" [formControl]="timeInput">


                    </div>

                    <div class="md-form">
                        <mdb-icon fas="fas" icon="edit"></mdb-icon>

                        <input placeholder="subject" type="text" id="subject" class="form-control" mdbInput="mdbInput" [formControl]="subjectInput">

                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-location-arrow"></i>

                        <input placeholder="location" type="text" id="location" class="form-control" mdbInput="mdbInput" [formControl]="locationInput">


                    </div>

                    <div class="md-form">
                        <mdb-icon fas="fas" icon="sticky-note"></mdb-icon>

                        <input type="text" id="description" placeholder="description" class="form-control" mdbInput="mdbInput" [formControl]="descriptionInput">


                    </div>
                </div>

                <!-- /.Body -->
                <!-- Footer -->

                <div class="modal-footer justify-content-center">
                    <button type="button" mdbBtn="mdbBtn" color="info" class="waves-effect" (click)="addNewEvent()" mdbWavesEffect="mdbWavesEffect">Add</button>
                </div>

                <!-- Footer -->
            </div>

            <!-- /.Content -->
        </div>

        <!-- /.Dialog -->
    </div>

    <!-- /.Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>